/* Rate Page CSS */
.Rate {
  text-align: center;
}


.FloatingActionAdd {
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
}

.currentMeme {
  /*height :300px;*/
  display:inline;
  width : 90%;
}

.Meme-display {
	clear:both;
}

.Meme-caption {
	font-family: "Impact",Charcoal, sans-serif;
	font-size:30px;
}

.Meme-display-component {
  /*display :inline-block;*/
  text-align: center;
  overflow: auto;
}

.Arrow-button{

  /*margin-bottom: 110px;*/
}

.captionCarousel {
	display:inline-block;
	width: 85%;
}

.Right-arrow-button {
display:inline-block;
}

.Left-arrow-button {
display:inline-block;
}
/*
  float: right;
  margin-top: -40px;

    float :left;
  margin-bottom: -20px;
*/