/* Rate Page CSS */
.Rate {
  text-align: center;
}


.FloatingActionAdd {
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
}
.FloatingActionCopy {
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
}
.hide{
	display:none!important;
}
.noDropZone {
  /*width: 0;
  height: 0;*/
  border: none;
}

.currentMeme {
  /*height :300px;*/
  display:inline;
  width : 90%;
}

.Meme-display {
	clear:both;
}

.Meme-caption {
	text-align: left;
	font-family: "Helvetica", sans-serif;
	font-size:20px;
	color: '#606060';
}

/* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
.wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

.Meme-display-component {
  /*display :inline-block;*/
  text-align: center;
  overflow: auto;
}

.Arrow-button{

  /*margin-bottom: 110px;*/
}
.captionCarouselContainer {

}
.captionCarousel {
	display:inline-block;
	width: 85%;
}

.Right-arrow-button {
 /* account for padding and border if not using box-sizing: border-box; */
 margin-bottom: 60px;
 margin-top: 60px;
}

.Left-arrow-button {
	margin-bottom: 60px;
	margin-top: 60px;
}
/*
  float: right;
  margin-top: -40px;

    float :left;
  margin-bottom: -20px;
*/
