/* Rate Page CSS */
.App {
  text-align: center;
}
.Meme-display>div>div>div>div>span{
	padding-top:13px;
}
.Meme-display>div>div>div>div{
	padding-right:0px!important;
}
.Meme-display{
	margin-top:65px!important;
}
