
/* Universal Adjustment */
* {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }

/* Rate Page CSS */
.Rate {
 
}

.App {

}

.FloatingActionAdd {
  float: right;
  margin-right: 2px;
  margin-bottom: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}



.currentMeme {
  /*height :300px;*/
  /*display:inline;*/
  width : 100%;
}

.Meme-display {
  width: 100%;
  margin: 0 auto;
}

.Meme-display-component {
  display :inline-block;
  text-align: center;
}

.Arrow-button-img {
  height: 80px;
  /*margin-bottom: 110px;*/
}

.Arrow-button {

}

.Dank-header {
  background-color: #E53935;
  text-align: left;
  
}
.Dank-header-title {
  color :white;
  font-family: "Impact", Charcoal, sans-serif;
  padding: 20px;
  font-size: 30pt;
}


.Right-arrow-button {
  float: right;
}

.Left-arrow-button {
  float :left;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
